.cart {
  margin: 5rem 10rem;
  padding-bottom: 4rem;
  grid-column: center-start / center-end;
  grid-row: 2 / span 2;
  color: $color-font;
  border-radius: 5px;

  display: grid;
  grid-template-rows: 5rem 1fr;

  &__links {
    ul {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid $color-primary;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
    }

    li {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-font;
      font-size: 1.8rem;
      height: 5rem;
      width: 100%;
      cursor: pointer;
      text-transform: uppercase;
      background-color: inherit;
      border: none;
      transition: all 0.2s;

      i {
        margin-right: 1rem;
      }
    }

    a:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__content {
    align-self: start;
    padding: 2rem;
    border-bottom: 1px solid $color-primary;
    border-left: 1px solid $color-primary;
    border-right: 1px solid $color-primary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__btn {
    display: flex;
    justify-content: end;

    & > * {
      margin-left: 2rem;
    }
  }
}
