.contact {
  grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 40rem;
  color: $color-font;

  &__forms {
    margin-top: 3rem;
    padding: 1rem 4rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 4rem;

    &-box {
      a {
        color: $color-secondary;
      }
    }
  }
}
