.landing {
  grid-column: full-start / full-end;
  background: linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary-2, 0.6)
    ),
    url("../../img/hero-2.jpg") center;
  background-size: cover;
  position: relative;

  &__title {
    @include centerPosition;
    left: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      line-height: 0.1;
    }

    button {
      font-size: 2rem;
      letter-spacing: 2px;
      font-weight: 300;
    }
  }

  &__social {
    position: absolute;
    right: 10%;
    bottom: 10%;

    ul {
      display: flex;
    }

    li {
      padding: 0.5rem;
    }

    i {
      background-color: $color-white;
      color: $color-secondary;
      padding: 1rem;
      font-size: 2rem;
      border-radius: 50%;
      transition: all 0.2s;
    }

    i:hover {
      background-color: transparent;
    }

    a:focus,
    a:active {
      outline: none;
    }
  }
}
