//COLORS

$color-primary: #00203fff;
$color-primary-2: #00203fff;
$bg-color: #f7f7f7;

$color-secondary: #ff5200;
$color-secondary-2: #f36c2d;

$color-white: #fff;

$color-font: #303234;

$color-border: rgb(230, 229, 229);

//FONTS

$font-primary: "Lato", sans-serif;
$font-secondary: "Dancing Script", cursive;
