*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
}

.container {
  background-color: $bg-color;
  display: grid;
  grid-template-rows: 6rem calc(100vh - 6rem);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  // @media only screen and (max-width: $bp-large) {
  //   grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //   grid-template-columns:
  //     [full-start] minmax(6rem, 1fr) [center-start] repeat(
  //       8,
  //       [col-start] minmax(min-content, 14rem) [col-end]
  //     )
  //     [center-end] minmax(6rem, 1fr) [full-end];
  // }

  // @media only screen and (max-width: $bp-medium) {
  //   grid-template-rows: 6rem calc(100vh - 6rem);
  // }
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:focus {
  outline: none;
}

button {
  color: inherit;
}
